{% load static %}
<html>

<head>
     <title>Django Girls blog</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">     
     <link rel="stylesheet" href="{% static 'css/blog.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="index" class="home">


     <div id="links">
          <ul>
               <li><a href="/">C Code</a></li>
               <li><a href="/cpp">C++ Code</a></li>
               <li><a href="/py">Python Code</a></li>
          </ul>
         
     </div>
     <div id="content">
          <!-- ************  CODING ZONE  ************ -->
          <div id="code">
               <form method="post">{% csrf_token %}
                    <div id="title-code" class="head-section">
                         Source Code
                    </div>
                    <input id="launch-button" class="head-section" type="submit" value="Launch" />
                    {% block code %}
                    {% endblock %}
               </form>
          </div>

          <!-- ************ RUNNING ZONE RESULTS ************ -->

          <div id="result">
               <div id="title-result" class="head-section">
                    Output result
               </div>
               {% block run %}
               {% endblock %}
          </div>
          <!-- <div id="live_feed">
               <img style="-webkit-user-select: none;" src="http://localhost:8081/">
          </div> -->

          <!-- ************ COMPILATION RESULTS ZONE ************ -->

          <div id="compile">
               <div id="title-compile" class="head-section">
                    Compilation / Output
               </div>
               {% block comp %}
               {% endblock %}
          </div>
     </div>
     <script src="{% static 'ace/ace.js' %}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
     <script>
          // The Ace editor needs divs instead of textareas
          // So we hide the textarea and show a div instead
          var editorElement = document.getElementById("text-code");
          editorElement.classList.add("hidden");
          document.getElementById("text-code-ace").classList.remove("hidden");

          // Set up the editor
          var editor = ace.edit("text-code-ace");
          editor.setTheme("ace/theme/tomorrow");
          var language = ("{{ target }}" === "runpy") ? "python" : "c_cpp";
          editor.getSession().setMode("ace/mode/" + language);

          // Make sure we copy the content of the editor to the textarea before posting
          // its content to the server
          document.getElementById("launch-button").addEventListener("click", function () {
               editorElement.innerHTML = editor.getValue();
          });
     </script>
</div>
</body>

</html>