{% load render_table from django_tables2 %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}OSVI-RT LED{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="home">

	<nav class="nav-extended" style="background-color:#263238  !important;">
		<div class="nav-wrapper">
			<a href="/" id="head_osvi" class="brand-logo blue-grey-text text-lighten-5">Open Source Virtual Instrumentation-Remote Trigger </a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				{% if user.is_authenticated %}
				<li><a class="btn-large blue-grey darken-4" href="{% url 'logout' %}">Log Out</a></li>
				<li><a class="btn-large blue-grey darken-4" href="{% url 'logs' %}">User Logs</a></li>
				{% else %}
				<li><a class="btn-large blue-grey darken-4" href="{% url 'login' %}">Log In</a></li>
				<li><a class="btn-large blue-grey darken-4" href="{% url 'signup' %}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="divider"></div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
		<li><a class="btn-large blue-grey darken-4" href="/">Home</a></li>
		{% if user.is_authenticated %}
		<li><a class="btn-large blue-grey darken-4" href="{% url 'logout' %}">Log Out</a></li>
		{% else %}
		<li><a class="btn-large blue-grey darken-4" href="{% url 'login' %}">Log In</a></li>
		<li><a class="btn-large blue-grey darken-4" href="{% url 'signup' %}">Sign Up</a></li>
		{% endif %}
	</ul>

	<main>

		<div class="row container" style="margin-top:30px;">
			<!-- ************  CODING ZONE  ************ -->
			<div class="col s12 center">
				<table>
					<tr>
						<th>ID</th>
						<th>Author</th>
						<th>Time Saved</th>
						<th>Pycode</th>
						<th>Result Output</th>
						<th>Session</th>
						<th>Videos</th>
					</tr>
					{% for logs in user_data %}
					<tr>
						<td>{{logs.id}}</td>
						<td>{{logs.author}}</td>
						<td>{{logs.postdate}}</td>
						<td>{{logs.pycode}}</td>
						<td>{{logs.result_output}}</td>
						<td>{{logs.session}}</td>
						{% for vid in user_videos %}
						{% if vid.session == logs.session %}
						<td>{{vid.uservid}}</td>
						{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

	</main>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.sidenav').sidenav();
		});
	</script>
	<script type="text/javascript">
		$(window).resize(function () {
			if (window.innerWidth < 800) {
				originalContent = $('#head_osvi').innerHTML;
				$('#head_osvi').replaceWith('<a href="#" id="head_osvi" class="brand-logo blue-grey-text text-lighten-5"> OSVI-RT </a>');

			} else if (window.innerWidth > 800) {
				$('#head_osvi').replaceWith('<a href="#" id="head_osvi" class="brand-logo blue-grey-text text-lighten-5">   Open Source Virtual Instrumentation-Remote Trigger </a>');
			}
		}).resize();
	</script>
	<script>
		$(document).ready(function(){
			$('.sidenav').sidenav();
		});
	</script>
	</html>
<!-- 
<!doctype html>
<html>
<head>
	<title>Logs of Pycode</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>Author</th>
			<th>Time Saved</th>
			<th>Pycode</th>
			<th>Result Outpur</th>
			<th>Session</th>
			<th>Videos</th>
		</tr>
	{% for logs in user_data %}
	<tr>
		<td>{{logs.id}}</td>
		<td>{{logs.postdate}}</td>
		<td>{{logs.pycode}}</td>
		<td>{{logs.postdate}}</td>
		<td>{{logs.result_output}}</td>
		<td>{{logs.session}}</td>
	  {% for vid in user_videos %}
		{% if vid.session == logs.session %}
		<td>{{vid.uservid}}</td>
		{% endif %}
	  {% endfor %}
	</tr>
	{% endfor %}
</table>

	<h1>User Logs</h1>
	{% render_table table %}
	<h2>Video Logs</h2>
	{% render_table table2%}
</body>
</html> -->
