{% extends 'runcode/base.html' %}

{% block code %}
<textarea id="text-code" name="code">
{{ code }}
</textarea>
<div id="text-code-ace" class="hidden" style="height: 30%;">{{ code }}</div>
{% endblock %}

{% block run %}
<textarea id="text-result" rows="7" cols="70" style="height: 30%;" readonly>{{ resrun }}</textarea>
{% endblock %}

{% block comp %}
<textarea id="text-compile" rows="7" cols="70" style="height: 30%;" readonly>{{ rescomp }}</textarea>
{% endblock %}

{% block video %}
<img src="{{ vid_url }}" style="height: 30%;width: 100%;" id="iframe1"><br>
{% endblock %}