{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12 m6 col-md-4 text-center my-4">
		<img src="{% static 'images/logoCSD.jpeg' %}" alt="CSD Logo" height="180" width="230">
	</div>
	<div class="col s12 m6 col-md-4 text-center my-4">
		<img src="{% static 'images/nitklogo.png' %}" alt="NITK Logo" height="180" width="230">
	</div>
</div>



                <div class="col-sm-12 col-md-4 justify-content-center my-4">

                	<h2 class="text-center font-weight-bold member" style="margin-top: 24px;">Faculty</h2>

                	<div class="row justify-content-center" style="margin-top: 32px;">
                		<div class="col-3">
                			<img src="/static/images/pruthviraj-img-zoom.jpg" alt="Pruthviraj Sir" class="card-img">
                		</div>
                		<div class="col-lg-7 col-8">
                			<h3 class="name card-content">Dr. Pruthviraj U</h3>
                			<p class="description">Assistant Professor, Department of Applied Mechanics and Hydraulics</p>
                			<span class="description">Course Instructor, AM477 - Open Source Virtual Instrumentation</span>
                			<div class="wrapper">
                				<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                					<li> <a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                				</ul>
                			</div>
                		</div>
                	</div>

                	<div class="row justify-content-center">
                		<div class="col-3">
                			<img src="/static/images/k-v-gangadharan-image.jpg" alt="Gangadharan Sir" class="card-img">
                		</div>
                		<div class="col-lg-7 col-8">
                			<h3 class="name card-content">Dr. K. V. Gangadharan</h3>
                			<p class="description card-content">Professor, Department of Mechanical Engineering</p>
                            <span class="description">Coordinator, Centre for System Design, NITK</span>
                			<div class="wrapper">
                				<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                					<li> <a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                					<li> <a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                				</ul>
                			</div>
                		</div>
                	</div>

                </div>


<h3 class="" style="margin-top: 24px;">Team Members</h3>

<div class="row center">

    
	<div class="col s12 m4 center">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{% static 'images/vanshika.jpeg' %}" height="200">
			</div>
			<div class="card-stacked">
				<div class="card-content" style="padding:10px;margin-bottom: 0px;">
					<h5 style="padding-top:0px;">Vanshika Gupta</h5>
					<p>B Tech Batch of 2020, Civil Engineering, NITK</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m4 center">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{% static 'images/shivam.jpeg' %}" height="200">
			</div>
			<div class="card-stacked">
				<div class="card-content" style="padding:10px;margin-bottom: 0px;">
					<h5 style="padding-top:0px;">Shivam Potdar</h5>
					<p>B Tech Batch of 2021, Electrical and Electronics Engineering, NITK</p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col s12 m3">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{% static 'images/vanshika.jpeg' %}" height="200">
			</div>
			<div class="card-stacked">
				<div class="card-content" style="padding:10px;margin-bottom: 0px;">
					<h5 style="padding-top:0px;">Vanshika Gupta</h5>
					<p>B Tech Batch of 2020, Civil Engineering, NITK</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m3">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{% static 'images/vanshika.jpeg' %}" height="200">
			</div>
			<div class="card-stacked">
				<div class="card-content" style="padding:10px;margin-bottom: 0px;">
					<h5 style="padding-top:0px;">Vanshika Gupta</h5>
					<p>B Tech Batch of 2020, Civil Engineering, NITK</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
