{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12 m6 col-md-4 text-center my-4">
		<img src="{% static 'images/logoCSD.jpeg' %}" alt="CSD Logo" height="180" width="230">
	</div>
	<div class="col s12 m6 col-md-4 text-center my-4">
		<img src="{% static 'images/nitklogo.png' %}" alt="NITK Logo" height="180" width="230">
	</div>
</div>

<h3 class="" style="margin-top: 24px;">Faculty</h3>
<div style="
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
align-items: center;
justify-content: center;">
<div class="row">
	<div class="card horizontal">
		<div class="card-image">
			<img src="{% static 'images/faculty.jpg' %}" height="200" style="min-width: 170px;width: 170px;">
		</div>
		<div class="card-stacked">
			<div class="card-content" style="padding:10px;margin-bottom: 0px;">
				<p>
					<h5 style="padding-top:0px;">Dr. Pruthviraj U</h5>
					Assistant Professor<br>
					Dept. of Applied Mechanics and Hydraulics
				</p><br>
				<p>
					<a href="https://github.com/vansjyo" class="fa fa-github grey-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
					<a href="#" class="fa fa-google red-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
					<a href="#" class="fa fa-linkedin blue-text text-darken-3" style="font-size:23px;padding: 5px;"></a> 
				</p> 
			</div>
		</div>
	</div>
</div>
</div>

<h3 class="" style="margin-top: 24px;">Team Members</h3>
<div class="">
	<div class="row">

		<div class="col s12 m6">
			<div class="card horizontal">
				<div class="card-image">
					<img src="{% static 'images/vanshika.jpeg' %}" height="200" style="min-width: 170px;width: 170px;">
				</div>
				<div class="card-stacked">
					<div class="card-content" style="padding:10px;margin-bottom: 0px;">
						<p>
							<h5 style="padding-top:0px;">Vanshika Gupta</h5>
							B.Tech 3rd year <br> Civil Engineering, NITK
						</p><br>
						<p>
							<a href="https://github.com/vansjyo" class="fa fa-github grey-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-google red-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-linkedin blue-text text-darken-3" style="font-size:23px;padding: 5px;"></a> 
						</p> 
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card horizontal">
				<div class="card-image">
					<img src="{% static 'images/shivam.jpeg' %}" height="200" style="min-width: 170px;width: 170px;">
				</div>
				<div class="card-stacked">
					<div class="card-content" style="padding:10px;margin-bottom: 0px;">
						<p>
							<h5 style="padding-top:0px;">Shivam Potdar</h5>
							B.Tech 2nd year<br> Electrical Engineering, NITK
						</p><br>
						<p>
							<a href="https://github.com/shivampotdar" class="fa fa-github grey-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-google red-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-linkedin blue-text text-darken-3" style="font-size:23px;padding: 5px;"></a> 
						</p> 
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">

		<div class="col s12 m6">
			<div class="card horizontal">
				<div class="card-image">
					<img src="{% static 'images/ashwin.jpeg' %}" height="200" style="min-width: 170px;width: 170px;">
				</div>
				<div class="card-stacked">
					<div class="card-content" style="padding:10px;margin-bottom: 0px;">
						<p>
							<h5 style="padding-top:0px;">Ashwin</h5>
							B.Tech 4th year<br> Electrical Engineering, NITK
						</p><br>
						<p>
							<a href="https://github.com/vansjyo" class="fa fa-github grey-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-google red-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-linkedin blue-text text-darken-3" style="font-size:23px;padding: 5px;"></a> 
						</p> 
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card horizontal">
				<div class="card-image">
					<img src="{% static 'images/rahul.jpeg' %}" height="200" style="min-width: 170px;width: 170px;">
				</div>
				<div class="card-stacked">
					<div class="card-content" style="padding:10px;margin-bottom: 0px;">
						<p>
							<h5 style="padding-top:0px;">Rahul Das</h5>
							B.Tech 4th year<br> Civil Engineering, NITK
						</p><br>
						<p>
							<a href="https://github.com/vansjyo" class="fa fa-github grey-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-google red-text text-darken-4" style="font-size:23px;padding: 5px;"></a> 
							<a href="#" class="fa fa-linkedin blue-text text-darken-3" style="font-size:23px;padding: 5px;"></a> 
						</p> 
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
